<!-- <h1>{{ title }}</h1>

<app-meu-primeiro></app-meu-primeiro>

<app-cursos></app-cursos> -->

<!-- <h1>Hello, {{ title }}</h1> -->

<!-- <app-data-binding></app-data-binding>

<app-ciclo [valorInicial]="valorInicial" *ngIf="exibir"></app-ciclo>

<button class="btn btn-primary" (click)="mudarValor()">Mudar Valor</button>
<button class="btn btn-primary" (click)="exibir = false">Deletar</button> -->

<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
 <app-diretiva-ngfor></app-diretiva-ngfor>